@import "reset.css";
@import "topBar.css";
@import "nav.css";
@import "header.css";
@import "chats.css";
@import "chat.css";
@import "friends.css";
@import "global.css";
@import "more.css";
@import "find.css";
@import "setting.css";
@import "mobile.css";
/* google fonts 에서 원하는 글꼴을 가져올 수 있다. */
@import url("https://fonts.googleapis.com/css?family=Sunflower:300,700&display=swap&subset=korean");

* {
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  color: #282829;
  font-family: "Sunflower", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Sunflower", "Helvetica Neue", sans-serif;
}

main {
  background: linear-gradient(180deg, #9768ee7a 99%, #b99fe9ad),
    url(../image/leaves-pattern.png);
  min-height: 100vh;
  padding-top: 100px;
}
