@import "reset.css";
/* google fonts 에서 원하는 글꼴을 가져올 수 있다. */
@import url("https://fonts.googleapis.com/css?family=Sunflower:300,700&display=swap&subset=korean");

* {
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  color: #282829;
  font-family: "Sunflower", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Sunflower", "Helvetica Neue", sans-serif;
}
